* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgba(205, 187, 212, 0.795);
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}
a {
  text-decoration: none;
}
body {
  /* background-image: url(./img/pexels-jakub-novacek-924824.jpg);
  background-repeat: no-repeat;
  background-position: center center fixed;*/
  background: url(./img/pexels-jakub-novacek-924824.jpg) no-repeat center center
    fixed;
  background-size: cover;
}
/* background:linear-gradiente(90deg, cor,cor. se eu quiser um gradiente de background */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
header ul {
  display: flex;
}
header ul li {
  padding: 5px;
}
.container {
  text-align: center;
}
.container .name h1 {
  font-size: 60px;
}
.container .name h5 {
  font-size: 25px;
}
#about p {
  max-width: 600px;
  margin: 0 auto;
}
.form {
  width: 40%;
  margin: 0 auto;
}
.form input {
  width: 50%;
}
.form button {
  width: 15%;
}
#imagem {
  width: 150px;
}
